<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <title>Official Community of Indian Institute of Technology Indore</title>
</head>

<body>
  <header style="padding-right: 20%">
    <h2>Indian Institute of Technology Indore</h2>
    <div>
      <button type="button" class="btn btn-success">
        JOIN/LOGIN
      </button>
    </div>
  </header>
  <div class="navbar">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" id="a" href="#">HOME</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="a" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">EVENTS</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Magnum Opus</a></li>
          <li><a class="dropdown-item" href="#">Convocations</a></li>
          <li><a class="dropdown-item" href="#">All Events</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="a" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">STORIES</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Alumni Stories</a></li>
          <li><a class="dropdown-item" href="#">Alumni Magazine</a></li>
          <li><a class="dropdown-item" href="#">Institute Updates</a></li>
          <li><a class="dropdown-item" href="#">Gallery</a></li>
          <li><a class="dropdown-item" href="#">Alumni Achievements</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="a" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">DIRECTORY</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Alumni - List View</a></li>
          <li><a class="dropdown-item" href="#">Alumni - Map View</a></li>
          <li><a class="dropdown-item" href="#">Alumni Batchwise</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="a" href="#">CONTACT US</a>
      </li>
    </ul>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./149.png" class="d-block w-100" alt="s3.jpeg">
      </div>
      <div class="carousel-item">
        <img src="./149.png" class="d-block w-100" alt="s3.jpeg">
      </div>
      <div class="carousel-item">
        <img src="./149.png" class="d-block w-100" alt="s3.jpeg">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="cards" id="apply">


    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-title" style="border-radius: 50%" src="f2c.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-title" style="border-radius: 50%" src="f2c.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-title" style="border-radius: 50%" src="f2c.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-title" style="border-radius: 50%" src="f2c.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>

  </div>
  <h3>Alumni Updates</h3>
  <div class="card-group">
    <div class="card">
      <img src="s3.jpeg" class="card-img-top" alt="s3.jpeg">
      <div class="card-body">
        <h5 class="card-title">Gaurav Parchani's Dozee Healthtech Goes Global!</h5>
        <p class="card-text">Our alumnus, Mr Gaurav Parchani (BTech ME 2013) had come up with a startup, Dozee which is
          now India's first contactless remote patient monitoring device, that...</p>
        <p class="card-text"><small class="text-muted">READ MORE -></small></p>
      </div>
    </div>
    <div class="card">
      <img src="s3.jpeg" class="card-img-top" alt="s3.jpeg">
      <div class="card-body">
        <h5 class="card-title">Batch of 2026 IIT Indore</h5>
        <p class="card-text">366 students, including 77 girl students, 1 OCI student and 4 preparatory students,
          enrolled in various disciplines of BTech Courses at IIT...</p>
        <p class="card-text"><small class="text-muted">READ MORE -></small></p>
      </div>
    </div>
    <div class="card">
      <img src="s3.jpeg" class="card-img-top" alt="s3.jpeg">
      <div class="card-body">
        <h5 class="card-title">
          Alumni Magazine 2019 (Decennial celebration Edition)</h5>
        <p class="card-text">The Alumni Cell is proud to announce the Alumni Magazine IIT Indore 2019. Articles curated
          from our Alumni and students around different topics and categories. Enjoy reading the magazine and do let us
          know your feedback and views.</p>
        <p class="card-text"><small class="text-muted">READ MORE -></small></p>
      </div>
    </div>
  </div>
  <div class="cards" id="apply1">


    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-title" style="border-radius: 50%" src="f2c.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-title" style="border-radius: 50%" src="f2c.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-title" style="border-radius: 50%" src="f2c.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-title" style="border-radius: 50%" src="f2c.png">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
    </div>

  </div>
  <div class="msg">
    <div class="card">
      <h2 style="text-align: center">A message from the director</h2>
      <div class="card-body">
        <img src="183.jpg" style="border-radius: 50%">

        <h3>Suhas Joshi</h3>
        <p>World over, the most acclaimed universities and institutions boast of having a strong and vibrant alumnus
          base.
          The alumni network of IIT Indore forms a very important and significant element to propel the institute
          towards excellence in all spheres of science, technology, humanity and social sciences, and in producing
          leaders.
          IIT Indore has been fortunate, right from its first graduating batch, to have a robust institute- alumni
          network, which we must all nurture and see its exponential growth in all dimensions.
          With the very best wishes</p>


      </div>
    </div>
  </div>

  <div class="updates"></div>
  <div class="events"></div>

  <div class="init">
    <div class="row">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start" src="02.png" style="border-radius: 50%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start" src="book-reader.png" style="border-radius: 50%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start" src="icon-team.svg" style="border-radius: 50%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start" src="team-icon-29530.png" style="border-radius: 50%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contacts">
    <div class="mdl-card contact-card mdl-shadow--2dp margin-bottom-8 " style="padding: 20px">
      <div class="mdl-card--border card-detail">
        <div class="mdl-card__title-text m-b-20 ng-binding">Contact Info</div>
        <!-- ngIf: !contact_details.address && $root.featureEnabled('homepage_cms') && $root.app_data.isAdmin -->
        <!-- ngIf: contact_details.address != '' && contact_details.address != ' ' && contact_details.address!=0 -->
        <div class="mdl-typography--font-light font-16 mdl-color-text--grey-600 ng-binding ng-scope"
          style="line-height: 28px;margin-bottom: 20px;" ng-bind-html="contact_details.address | asNewLines"
          ng-if="contact_details.address != '' &amp;&amp; contact_details.address != ' ' &amp;&amp; contact_details.address!=0">
          Alumni and Corporate Relations Office, <br>7th floor, Abhinandan Bhavan,<br>Indian Institute of Technology
          Indore,<br>Khandwa Road, Simrol,<br>Indore-453552<br>India</div>
        <!-- end ngIf: contact_details.address != '' && contact_details.address != ' ' && contact_details.address!=0 -->
        <!-- ngIf: contact_details.phone && contact_details.phone!=0 -->
        <div style="margin-bottom: 6px;" ng-if="contact_details.phone &amp;&amp; contact_details.phone!=0"
          class="flexbox ng-scope">
          <div class="margin-right-8"><i class="icon-phone font-16 mdl-color-text--grey-600"></i></div>
          <div>
            <!-- ngRepeat: phone in ::contact_details.phone.split(',') --><a
              class="font-16 mdl-typography--font-light mdl-color-text--grey-600 link-detail ng-binding ng-scope"
              ng-repeat="phone in ::contact_details.phone.split(',')"> +91-731-6603122/+91-731-6603555</a>
            <!-- end ngRepeat: phone in ::contact_details.phone.split(',') -->
          </div>
        </div><!-- end ngIf: contact_details.phone && contact_details.phone!=0 -->
        <!-- ngIf: contact_details.website != '' && contact_details.website != ' ' && contact_details.website!=0 -->
        <!-- ngIf: contact_details.email && contact_details.email!=0 -->
        <div style="margin-bottom: 20px;" ng-if="contact_details.email &amp;&amp; contact_details.email!=0"
          class="flexbox ng-scope">
          <div class="margin-right-8"><i class="icon-email font-16 mdl-color-text--grey-600"></i></div>
          <div>
            <!-- ngRepeat: email in ::contact_details.email.split(',') --><a
              class="font-16 mdl-typography--font-light mdl-color-text--grey-600 link-detail ng-binding ng-scope"
              ng-href="mailto:alumnicell@iiti.ac.in" ng-repeat="email in ::contact_details.email.split(',')"
              href="mailto:alumnicell@iiti.ac.in"> alumnicell@iiti.ac.in</a>
            <!-- end ngRepeat: email in ::contact_details.email.split(',') --><a
              class="font-16 mdl-typography--font-light mdl-color-text--grey-600 link-detail ng-binding ng-scope"
              ng-href="mailto:acroffice@iiti.ac.in" ng-repeat="email in ::contact_details.email.split(',')"
              href="mailto:acroffice@iiti.ac.in"> acroffice@iiti.ac.in</a>
            <!-- end ngRepeat: email in ::contact_details.email.split(',') -->
          </div>
        </div><!-- end ngIf: contact_details.email && contact_details.email!=0 -->
        <div>
          <!-- <?php if(!empty($contact_details["facebook"])):?> -->
          <!-- ngIf: contact_details.facebook && contact_details.facebook!=0 --><a
            ng-if="contact_details.facebook &amp;&amp; contact_details.facebook!=0"
            href="https://www.facebook.com/iitialumnicell/" target="_blank"
            class="mdl-button mdl-js-button mdl-button--fab facebook-bg-color mdl-color-text--white font-16 share-social new-icon ng-scope"
            ng-attr-style="{{::templateData.tConfiguration.socialIconStyles}}" data-upgraded=",MaterialButton"><i class="fab fa-facebook-f"></i> </a>
          <!-- end ngIf: contact_details.facebook && contact_details.facebook!=0 -->
          <!-- <?php endif;?> -->
          <!-- <?php if(!empty($contact_details["linkedin"])):?> -->
          <!-- ngIf: contact_details.linkedin && contact_details.linkedin!=0 --><a
            ng-if="contact_details.linkedin &amp;&amp; contact_details.linkedin!=0"
            href="https://in.linkedin.com/company/alumni-cell-iit-indore" target="_blank"
            class="mdl-button mdl-js-button mdl-button--fab mdl-color--blue-700 mdl-color-text--white font-16 share-social new-icon ng-scope"
            ng-attr-style="{{::templateData.tConfiguration.socialIconStyles}}" data-upgraded=",MaterialButton"><i class="fab fa-linkedin-in"></i
              ></a>
          <!-- end ngIf: contact_details.linkedin && contact_details.linkedin!=0 -->
          <!-- <?php endif;?> -->
          <!-- <?php if(!empty($contact_details["twitter"])):?> -->
          <!-- ngIf: contact_details.twitter && contact_details.twitter!=0 -->
          <!-- <?php endif;?> -->
          <!-- <?php if(!empty($contact_details["googleplus"])):?> -->
          <!-- <a ng-if="contact_details.googleplus && contact_details.googleplus!=0" href="{{contact_details.googleplus}}" target="_blank" class="mdl-button mdl-js-button mdl-button--fab mdl-color--red-500 mdl-color-text--white font-16 share-social new-icon" ng-attr-style="{{templateData.tConfiguration.socialIconStyles}}"><i class="icon-google-plus social-buttons-icons"></i></a> -->
          <!-- <?php endif;?> -->
          <!-- ngIf: contact_details.youtube && contact_details.youtube!=0 -->
          <!-- ngIf: contact_details.instagram && contact_details.instagram!=0 -->
          <!-- ngIf: $root.app_data.cid==31 -->
        </div>
      </div>
    </div>
    <iframe width="100%" height="500px" frameborder="0" style="border:0" lazy-load-image="" data-src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDNGtjH1oykynJxvUgGAUnB7T63Ay7CqXw&amp;q=Alumni and Corporate Relations Office, 
7th floor, Abhinandan Bhavan,
Indian Institute of Technology Indore,
Khandwa Road, Simrol,
Indore-453552
India" allowfullscreen="" class="ng-isolate-scope" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDNGtjH1oykynJxvUgGAUnB7T63Ay7CqXw&amp;q=Alumni and Corporate Relations Office, 
7th floor, Abhinandan Bhavan,
Indian Institute of Technology Indore,
Khandwa Road, Simrol,
Indore-453552
India" data-loaded="true"> </iframe>
  </div>
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">Ashutosh Samantaray</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>