.navbar{
    display: flex;
    background-color: #33689e;  
    padding: 5%; 
}

.nav-link#a{
    color: white;
}
.msg{
    background-color: rgb(194, 185, 185);
}


.card-group,.msg .card, .card-body{
    gap: 10px;
    border: none;
    background-color: transparent;
}

.card-group .card p{
    color: black;
}
.msg .card-body p{
    padding-left: 20%;
    padding-right: 20%;
}
.msg p, .msg h3{
    padding: 0;
    text-align: center;
}
.navbar > ul{
    margin: 0px;
    display: flex;
    list-style: none;
    flex: auto;
}

.navbar > ul > li{
    align-items: center;
    flex: auto;
    color: white;
    text-align: center;
}

header{
    margin: auto;
    align-items: center;
    display: flex;
}
h2, h3{
    flex: auto;
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#carouselExampleIndicators, #carouselExampleIndicators img{
    height: 500px;
}

.card-body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    background-color: transparent;
}



.card-text{
    align-items: center;
    text-align: center;
    color: white;
}

.card-group{
    padding-left: 20%;
    padding-right: 20%;
    
}
.init .row{
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
}
.card{
    padding-top: 5%;
}
.cards#apply{    
    padding: 0;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("grad.jpg")
          center;
    background-size: cover;
    position: relative; 
    display: flex;
}

.cards#apply1{    
    padding: 0;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("45.jpg")
          center;
    background-size: cover;
    position: relative; 
    display: flex;
}

#apply .col-sm-6,#apply1 .col-sm-6{
    width: 25%;
}
#apply .col-sm-6 .card, #apply1 .col-sm-6 .card{
    background-color: transparent;
    border: none;
}

.contacts{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
}

.init .row p.card-text{
    color: black;
}


